@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Nunito', sans-serif;
    overscroll-behavior: contain;
    /* font-family: 'Raleway', sans-serif; */
}

svg {
    width: 24px;
    height: 24px;
}

.svg50 {
    width: 50px;
    height: 50px;
}

h2 {
    color: #0e2045;
    font-weight: 400;
    font-size: 15px;
}

.title {
    margin-bottom: 25px;
}

.albums {
    padding: 20px 20px 10rem 20px;
}

.album {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    scroll-snap-align: center;
    flex: 0 0 100%;
}

form {
    position: relative;
    margin-bottom: 30px;
}

h4.song-name {
    font-size: 14px;
    margin: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.25;
    overflow: hidden;
}


.albumDetail {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
}

.thumbS {
    height: 80px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    width: 100%;
}

img.album-image,
img.song-image,
img.song-image {
    display: block;
    /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    max-width: none;
    max-height: 100%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


ul {
    list-style: none;
}

ul.artistL {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    white-space: nowrap;
}

.artist {
    display: flex;
}

.x-scroll {
    position: relative;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: visible;
    scroll-snap-type: x mandatory;
}

.artistL li {
    scroll-snap-align: start;
    width: 100%;
}

.albumContent {
    /* width: 100%; */
    overflow: hidden;
}

.x-scroll::-webkit-scrollbar {
    display: none;
}

ul.artistL li {
    padding: 5px;
    background: #f7f7f7;
    border-radius: 10px;
    color: #222;
    font-size: 13px;
}

.resultDetails ul.artistL li,
.recoDetails ul.artistL li {
    padding: 0;
    background: transparent;
}

.song-lang {
    padding: 5px;
    font-size: 13px;
}

.albumsong {
    display: flex;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    gap: 30px;
}

.albumS {
    width: 100%;
    height: 100%;
    margin: 0 0 30px;
    position: relative;
}

.songI {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 0 0 8px 8px;
    position: relative;
    overflow: hidden;
    box-shadow: -5px 5px 10px rgb(0 0 0 / 10%);
    /* cursor: unset; */
}
.albumS .songI:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to bottom,  rgba(0,0,0,.4) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
}
.albumS .songI:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(to top,  rgba(0,0,0,.4) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
}

.songP {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 70%;
}



.y-scroll {
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: visible;
    /* scroll-snap-type: y mandatory; */
}

.C {
    text-align: center;
}

.song {
    scroll-snap-align: center;
    padding: 13px;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    backdrop-filter: blur(4px);
    background: #fefefe;
    background: rgba(255, 255, 255, .5);
    border: 1px solid rgba(255, 255, 255, .4);
    color: #ffffff;
    box-shadow: -5px 5px 10px rgb(0 0 0 / 10%);

}

.song-name {
    font-size: 13px;
    /* margin: 10px 0 0; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.musicP {
    position: fixed;
    bottom: 0;
    background: #faf9ff;
    padding-inline: 20px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0 0px 1px rgb(0 0 0 / 10%);
    /* transition: all .4s ease; */
}

.music-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.music-controls svg{
    fill: #fefefe;
}
input#seek {
    width: 100%;
}

.music-timer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #fefefe;
}

input#searchInput {
    box-shadow: 0 10px 8px -8px rgb(0 0 0 / 10%);
    display: block;
    width: 100%;
    outline: 0;
    border-radius: 10px;
    background: #f9f9fb;
    background-color: #fefefe;
    padding: 20px 48px;
    border: 1px solid #fefe;
    transition: all .1s ease;
}

.searchLive {
    position: relative;
    width: 100%;
    font-size: 95%;
}

button.searchButton,
.close {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

button.close {
    right: 12px;
    left: auto;
}

svg .line,
svg.line {
    fill: none;
    stroke: #242423;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    width: 16px;
    height: 16px;
}

.songR {
    width: 100%;
    scroll-snap-align: start;
    /* padding: 15px; */
    /* background: #f4f6ff; */
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    padding: 15px;
}

.albumContent {
    background: #faf9ff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}


.thumb {
    width: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 0 10px rgb(0 0 0 / 5%);
}

.search-result,
.recommendData {
    width: 100%;
    display: flex;
    /* gap: 15px; */
    align-items: center;
    scroll-snap-align: center;
    margin-bottom: 15px;
    background: #faf9ff;
    border-radius: 10px;
    padding: 10px;
}

.resultDetails,
.recoDetails {
    font-size: 13px;
    padding: 0 15px;
    overflow: hidden;
}

.resultDetails h4,
.recoDetails h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 1.25;
}

.cond p.para {
    font-size: .8rem;
    line-height: 1rem;
    color: rgba(142, 142, 160, 1);
}

a {
    text-decoration: none;
    color: #1e1e1e;
}










/* player seek bar  */
input[type="range"] {
    font-size: 1.5rem;
    width: 12.5em;
}

input[type="range"] {
    color: #ffffff;
    --thumb-height: 10px;
    --track-height: 0.125em;
    --track-color: rgba(250, 250, 250, 0.2);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}

input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"]:active {
    cursor: grabbing;
}

input[type="range"]:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    position: relative;
}

input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further));
}

input[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: grabbing;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}


input[type="range"]::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
    cursor: grabbing;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
    filter: brightness(100%);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}

input[type="range"]:active::-moz-range-thumb,
input[type="range"]:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}

input[type="range"]:disabled::-moz-range-thumb {
    cursor: not-allowed;
}




















/* rough codes */


img#audioimage {
    width: 50px;
    border-radius: 1rem;
}

.songp {
    overflow: hidden;
    padding-block: 20px;
}

button {
    all: unset;
    display: flex;
}

.resetplayer {
    display: flex;
    margin-left: auto;
}

.songp .rp svg, .songp .sp svg {
    height: 20px;
}

.playerContext {
    margin-left: 10px;
}
.active{
    transform: translateY(0);
}


















.swipe-bar {
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    min-height: 100px;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    top: 100%;
    margin-top: 100px;
    float: left;
    max-height: 100%;
    overflow: hidden;
  }
  .swipe-bar.anim {
    transition: all 0.3s;
  }
  .swipe-bar.show {
    overflow: auto;
    touch-action: pan-down !important;
  }
  .swipe-bar.canScroll {
    touch-action: auto !important;
    -webkit-user-drag: auto !important;
  }
  
  .top-swipe {
    float: left;
    width: 100%;
    position: relative;
    min-height: 80px;
    z-index: 3;
  }
  .top-swipe:before {
    content: "";
    position: absolute;
    left: 50%;
    background-color: #faf9ff;
    top: 7px;
    border-radius: 3px;
    width: 36px;
    height: 5px;
    margin-left: -18px;
  }
  /* date 12/5/2024 */

  

div#reco {
    position: relative;
    z-index: 2;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
}
.bgb {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 15px 15px 0 0;
    filter: blur(50px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}