@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
svg{
    width: 24px;
    height: 24px;
}
.svg50{
    width: 50px;
    height: 50px;
}
h2{
    color: #0e2045;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}
.albums {
    padding: 20px 20px 10rem 20px;
}

.album {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    scroll-snap-align: center;
    flex: 0 0 100%;
}
form{
    position: relative;
    margin: 0 0 20px;
}

h4.song-name {font-size: 14px;margin: 5px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 1.25;overflow: hidden;}


.albumDetail {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
}

.thumbS {height: 80px;border-radius: 10px;position: relative;overflow: hidden;flex: 0 0 80px;width: 100%;}
img.album-image, img.song-image, img.song-image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: none;
    max-height: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
}


ul {
    list-style: none;
}

ul.artistL {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    white-space: nowrap;
}

.artist {
    display: flex;
}

.x-scroll {
    position: relative;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: visible;
    scroll-snap-type: x mandatory;
}

.artistL li {
    scroll-snap-align: start;
    width: 100%;
}

.albumContent {
    /* width: 100%; */
    overflow: hidden;
}
.x-scroll::-webkit-scrollbar {
    display: none;
  }

  ul.artistL li {
    padding: 5px;
    background: #f7f7f7;
    border-radius: 10px;
    color: #222;
    font-size: 13px;
}

.song-lang {
    padding: 5px;
    font-size: 13px;
}

.albumsong {
    display: flex;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    gap: 30px;
}

.albumS {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
    margin: 0 0 20px;
}

.songI {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    box-shadow: -5px 5px 10px rgb(0 0 0 / 10%);
}
.C{
    text-align: center;
}

.song {
    width: 100%;
    scroll-snap-align: start;
    flex: 0 0 20%;
    padding: 15px;
    background: #fefe;
    border-radius: 1rem;
}

.song-name {
    font-size: 13px;
    margin: 10px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: pre;
}
.musicP {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fef;
    padding: 20px;
    border-radius: 1rem 1rem 0 0;
}

.music-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input#seek {
    width: 100%;
}
.music-timer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

input#searchInput {
    box-shadow: 0 10px 8px -8px rgb(0 0 0 / 10%);
    display: block;
    width: 100%;
    outline: 0;
    border-radius: 10px;
    background: #f9f9fb;
    background-color: #fefefe;
    padding: 20px 48px;
    border: 1px solid #fefe;
    transition: all .1s ease;
}

.searchLive {
    position: relative;
    width: 100%;
    font-size: 95%;
}

button.searchButton, .close {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

button.close {
    right: 12px;
    left: auto;
}

svg .line, svg.line {
    fill: none;
    stroke: #242423;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    width: 16px;
    height: 16px;
}